<p style="color: #D7385E;
  font-size: 18px;
  margin-top: 0;">
  Dear <%= @user.full_name %>,
</p>

<p>
  Your request for the maintenance has been received. We will soon send the responsible technical person.
</p>
