<p style="color: #D7385E;
  font-size: 18px;
  margin-top: 0;">
  Dear <%= @user.full_name %>,
</p>

<p>
  Your Application for apartment booking under property: <%=@property.property_name %>, is in the process of interviewing.
</p>
