<p style="color: #D7385E;
  font-size: 18px;
  margin-top: 12px;">
  Dear <%= @user_name %>,
</p>

<p>
  Your request for for booking under the property name: <%= @property.property_name %> has been confirm, you can moved in according to the date you have specified
</p>
