<p style="color: #D7385E;
  font-size: 18px;
  margin-top: 12px;">
  Dear <%= @user_name %>,
</p>

<p>
  We regret to inform you that the units you have applied for under property: <%=@property.property_name %>, is being already occupied.
</p>
