<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .email {
            margin: auto;
            width: 70%;
            border: 2px solid #D7385E;
            border-radius: 8px;
            background: #FFFFFF;
        }
        .label {
            color: #D7385E;
            font-size: 18px;
            margin-top: 12px;
        }
        .button {
            background: #D7385E;
            color: white;
            border-radius: 4px;
            padding: 12px 22px;
        }

        .header {
            background: #D7385E;
            padding: 20px;
        }
        .footer {
            background: #D7385E;
            padding: 20px;
            color: #FFFFFF;
            font-size: 12px;
            text-align: center;
        }

        .header-text {
            margin: auto;
            color: #FFFFFF;
            font-size: 20px;
            text-align: center;
        }
        .main-content {
            background: #F5F5F5;
            padding: 10%;
        }

        a {
            color: #FFFFFF !important;
            text-decoration: none;
        }

    </style>
  </head>

  <body>
    <div class="main-content">
      <div class="email">
        <div class="header">
          <p class="header-text">
            Welcome to newRentals Platform
          </p>
        </div>
        <div style="margin: 20px; padding: 24px;">
          <img class="auth-logo" src="app/assets/img.png"/>
          <p class="body">
            <%= yield %>
          </p>
          <p style="margin-bottom: 24px;">Thank you</p>
          <a href="https://newrentals.tk/" class="button">Visit newRental</a>
        </div>

        <div class="footer">
          If you have any questions, reach out to us at, newRentals@newrentals.com
        </div>
      </div>
    </div>
  </body>
</html>
